.Carrusel{
    
    /* position: relative;
    z-index: -1;  */
    padding: 0;
    padding-top: 110px;
    
}


@media screen and (max-width: 767px){
    .Carrusel{
        padding-top: 70px;
    }
}