.container {
    background-image: url("../../images/AdobeStock_392563599.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
   
   
    /* /* text-align: center; 
     

    
}
.container h1 {
    font-weight: 700;
    font-size: 6em;
    font-family: 'Rubik', sans-serif;
    color: rgb(12, 71, 134);
    /* z-index: 1; */
}
.contenedor {
    background-color: #fff;
    width: 50vw;
    height: 90vh;
    opacity: .5;
    margin-left: 43%;
    margin-right: 20%; 
    padding-top: 20px; 
    margin-bottom: 0;
    
   
   
  
   

    /* border: black 2px solid; */
}
.contenedor h3{
    color: rgb(12, 71, 134);
     font-size: 30px;
}
.contenedor span{
   
    font-weight: 700;
}
.li li{
    list-style: none;
    
}
.container i {
    font-size: 30px;
    color: rgb(12, 71, 134);
  
}
 
.container .redes {
   
    padding-left: 230px;
    padding-right: 230px;
}
.redes h4 {
    color: rgb(12, 71, 134);
    font-weight: 800;
    
    

}
 .button  {
    color: rgb(12, 71, 134);
    margin-left: 70px;
    cursor: pointer;
    
}
/* .formulario {
    position: absolute;
    z-index: 11;
    
} */
.button i:hover {
    background-color:rgb(12, 71, 134);
    color: #fff;
    border-radius: 7px;
    border: solid 1px rgb(239, 239, 245);
}