.container {
    background-image: url("../../images/consultoriointerior2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
    

    
}
.container h1 {
    font-weight: 700;
    font-size: 6em;
    font-family: 'Rubik', sans-serif;
    color: rgb(119, 167, 218);
    z-index: 1;
}
.contenedor {
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    opacity: .5;
    margin-left: 10%;
    margin-right: 30%   ;
    /* border: black 2px solid; */
}